<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <img  class="img"src="assets/pizzaBranco.png">
    <a class="navbar-brand" href="/pizzaria/clientes">Clientes</a>
    <a class="navbar-brand" href="/pizzaria/pedidos">Pedidos</a>
    <a class="navbar-brand" href="/pizzaria/total">Totais</a>
    <a class = "navbar-brand" href="/pizzaria/pizzas">Pizzas</a>
    <a class = "navbar-brand" href="/pizzaria/produto">Produtos</a>
    <a class = "navbar-brand" href="/pizzaria/atendente">Atendente</a>
    <a class="navbar-brand" href="/login">Sair</a>
</nav>

