
  <nav class="menum navbar navbar-light navbar-expand-md justify-content-center fixed-top">
  <div class="container">
   
    <a class="nav-link" href="/pizzaria/pedidos"><img src="\assets\pizzaBranco.png" height="180px" width="200px"></a>
  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
    <ul class="topBotomBordersOut navbar-nav mx-auto text-center">
      
      
      <li class="nav-item active"><a class="nav-link" href="/pizzaria/sabor">Sabor</a></li>
      <li class="nav-item"><a class="nav-link" href="/pizzaria/clientes">Clientes</a></li>
      <li class="nav-item"> <a class="nav-link" href="/pizzaria/atendente">Atendente</a>
      <li class="nav-item"> <a class="nav-link" href="/pizzaria/pedidos">Pedidos</a> 
      <li class="nav-item"> <a class="nav-link" href="/pizzaria/total">Totais</a> 
      <li class="nav-item"> <a class="nav-link" href="/pizzaria/produto">Produtos</a> 
      </li>
    </ul>
  </div>
  </div>   
</nav>
