a { color: white;
   } 
a:hover {
    color: aqua;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0%;
    justify-content: center;
    gap: 6rem;
}
.img{

    height: 100%;
    width: 10%;
    
}