form{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    
}

.btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin-top: 2%;

}
.linha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#inputObs{
    width: 60%;
    height: 15%;
}