<head>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<div class="borda">
    <div class="linha">
        <div><h1>Listagem de Clientes</h1>
            <div class="searchbar">
                <input class="search_input" type="text" name="" [(ngModel)]="nome" placeholder="Search...">
                <button (click)="listNome()" class="search_icon btn" data-bs-toggle="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <button id="btn"type="button"class="btn btn-success btn-lg" (click)="adicionar(clienteModal)"  >adicionar pessoa</button>
    </div>
    
    
        <table class="table table-borderless table-hover" *ngIf="lista.length != 0">
        <thead class="top border border-success-subtle" > 
            <tr>
                <th>#ID</th>
                <th>Nome:</th>
                <th>Telefone:</th>
            
                <th>Opções:</th>
            
            </tr>
        </thead>
        <tbody class="table-group-divider border border-success-subtle ">
            <tr *ngFor = "let cliente of lista; let i = index">
                
                <th scope="row">{{ cliente.id }}</th>
                <th>{{ cliente.nome }}</th>
                <th>{{cliente.telefone }}</th>
            
                <th *ngIf="!modoAdd"><button class="btn btn-outline-warning" (click)="editar(clienteModal2, cliente, i)">editar</button><button class="btn btn-outline-danger" (click)="deletar(cliente.id)">deletar</button>


                <td *ngIf="modoAdd" > <button type="button" class="btn btn-primary" (click)="lancamento(cliente)">Lançar</button> </td>
                    
            </tr>
        </tbody>
        
    </table>
</div>


<ng-template #clienteModal let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de cliente</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-clientes-details [cliente]="clienteEdicao" [modoEdit]="false" (retorno)="addList($event)" ></app-clientes-details>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>
<ng-template #clienteModal2 let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de cliente</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-clientes-details [cliente]="clienteEdicao" [modoEdit]="true" (retorno)="addList($event)" ></app-clientes-details>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>