<div class="borda">
    <div class="linha">
        <h1>Listagem de pizzas</h1>
        <button id="btn"type="button"class="btn btn-success btn-lg d-flex justify-content-center" (click)="adicionar(modal2)" >adicionar sabor</button>
    </div>

    <table class="table table-bordered table-hover" *ngIf="lista.length != 0">
        <thead class="top border border-success-subtle"> 
            <tr>
                <th>#ID</th>
                <th>Tamanho:</th>
                <th>Sabores:</th>
                <th>Preço</th>
                <th>Opções:</th>
            
            </tr>
        </thead>
        <tbody class="table-group-divider border border-success-subtle ">
            <tr *ngFor = "let pizzas of lista; let i = index">
                
                <th scope="row">{{ pizzas.id }}</th>
                <th scope="row">{{ pizzas.tamanho }}</th>
                <td>
                    <span *ngFor="let sabor of pizzas.sabores; let j = index">
                    {{ sabor.nome }}
                    <ng-container *ngIf="j !== pizzas.sabores.length - 1">, </ng-container>
                    </span>
                </td>
                <th scope="row">{{ pizzas.valorUnit }}</th>
                        
                <th *ngIf="!modoLancamento" ><button class="btn btn-outline-warning" (click)="editar(modal1, pizzas, i)">editar</button>
                <button class="btn btn-outline-danger" (click)="deletar(pizzas.id)">excluir</button></th>

                <td *ngIf="modoLancamento" > <button type="button" class="btn btn-primary" (click)="lancamento( pizzas)">Lançar</button> </td>
                    
            </tr>
        </tbody>
        
    </table>
</div>    

<ng-template #modal1 let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de Pizza</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <app-pizzas-details2 [pizza]="pizzaEdicao" (retorno)="addList1($event)"></app-pizzas-details2>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>

<ng-template #modal2 let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de Pizza</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <app-pizzas-details2  (retorno)="addList1($event)"></app-pizzas-details2>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>





