<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<div class="borda">
    <div class="linha">
        <div>
            <h1>Listagem de Atendentes</h1>
            <div class="searchbar">
                <input class="search_input" type="text" name="" [(ngModel)]="nome" placeholder="Search...">
                <button (click)="listNome()" class="search_icon btn" data-bs-toggle="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <button id="btn" type="button"class="btn btn-success btn-lg " name="adicionar" (click)="adicionar(atedenteModal)"  >adicionar pessoa</button>
        
    </div>
    
    <table class="table table-bordered table-hover" *ngIf="lista.length != 0">
        <thead class="top border border-success-subtle"> 
            <tr>
                <th>#ID</th>
                <th>Nome:</th>
                
            
                <th>Opções:</th>
            
            </tr>
        </thead>
        <tbody class="table-group-divider border border-success-subtle">
            <tr *ngFor = "let atendente of lista; let i = index">
                
                <th scope="row">{{ atendente.id }}</th>
                <th>{{ atendente.username }}</th>
            
            
                <th *ngIf="!modoAdd"><button class="btn btn-outline-warning"  name="editar" (click)="editar(atedenteModal2, atendente, i)">editar</button>
                    <button class="btn btn-outline-danger" name="deletar" (click)="deletar(atendente.id)">deletar</button></th>
                <td *ngIf="modoAdd" > <button type="button" class="btn btn-primary" name="lancamento" (click)="lancamento(atendente)">Lançar</button> </td>
                    
            </tr>
        </tbody>
        
    </table>
</div>  

<ng-template #atedenteModal let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de atendente</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-atendente-details  [atendente]="atendenteEdicao" [modoEdit]="false" (retorno)="addList($event)" ></app-atendente-details>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>

<ng-template #atedenteModal2 let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Edição de atendente</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-atendente-details  [atendente]="atendenteEdicao" [modoEdit]="true" (retorno)="addList($event)" ></app-atendente-details>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>