<div class="borda">
    <h1>Lista de pedidos</h1>
<table class="table table-bordered table-hover" *ngIf="lista.length != 0">
    <thead> 
        <tr>
            <th>#ID</th>
            <th>Cliente</th>
            <th>Detalhes:</th>
            <th>Entrega</th>
            <th>Quantidade:</th>
            <th>Opções:</th>
        
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor = "let pedidos of lista; let i = index">
               
            <th scope="row">{{ pedidos.id }}</th>
            <th>{{pedidos.cliente.nome}}</th>
            <th>{{pedidos.detalhes }}</th>
            <th *ngIf="pedidos.entrega == true">Sim</th>
            <th *ngIf="pedidos.entrega == false">Não</th>
            <th>{{pedidos.pizzas.length}}</th>
            <th><button class="btn btn-outline-success">Finalizar</button><button class="btn btn-outline-warning">Gerar comanda</button>
            <button class="btn btn-outline-danger">Cancelar</button></th>
                   
        </tr>
    </tbody>
    
</table>
<div id="btn"class="d-grid col-1 mx-auto"><button type="button"class="btn btn-success btn-lg d-flex justify-content-center"  >adicionar pedido</button></div>
