<div class="borda">
    <h1>Listagem de pessoas</h1>
<table class="table table-bordered table-hover" *ngIf="lista.length != 0">
    <thead> 
        <tr>
            <th>#ID</th>
            <th>Nome:</th>
            <th>Telefone:</th>
            <th>Endereço</th>
            <th>Opções:</th>
        
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor = "let cliente of lista; let i = index">
               
             <th scope="row">{{ cliente.id }}</th>
                <th>{{ cliente.nome }}</th>
                <th>{{cliente.telefone }}</th>
                <th>{{cliente.endereco.rua}}</th>
                <th><button class="btn btn-outline-warning">editar</button>
                <button class="btn btn-outline-danger">excluir</button></th>
                   
        </tr>
    </tbody>
    
</table>
<div id="btn"class="d-grid col-1 mx-auto"><button type="button"class="btn btn-success btn-lg d-flex justify-content-center"  >adicionar pessoa</button></div>
